<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.booy.ssm.exam.dao.ScoreMapper">
  <resultMap id="BaseResultMap" type="com.booy.ssm.exam.pojo.Score">
    <id column="stuId" jdbcType="INTEGER" property="stuid" />
    <id column="CourseNumber" jdbcType="INTEGER" property="coursenumber" />
    <result column="Score" jdbcType="INTEGER" property="score" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    stuId, CourseNumber, Score
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.booy.ssm.exam.pojo.ScoreKey" resultType="java.lang.Integer">
    select 
    Score
    from score
    where stuId = #{stuid,jdbcType=INTEGER}
      and CourseNumber = #{coursenumber,jdbcType=INTEGER}
  </select>
  <select id="getScoretList" parameterType="int" resultType="com.booy.ssm.exam.pojo.Score">
     select * from score where stuId = #{stuid,jdbcType=INTEGER}
  </select>
  <select id="getCourse" parameterType="int" resultType="com.booy.ssm.exam.pojo.Course">
    select * from course where Teacher = #{jobnumber}
  </select>
  <select id="selectByjobnumber" parameterType="int" resultType="java.lang.Integer">
    select stuId from score where CourseNumber = #{coursenumber}
  </select>
  <select id="findscorebyStuId" parameterType="int" resultType="java.lang.Integer">
    select Score from score where stuId = #{stuId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.booy.ssm.exam.pojo.ScoreKey">
    delete from score
    where stuId = #{stuid,jdbcType=INTEGER}
      and CourseNumber = #{coursenumber,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.booy.ssm.exam.pojo.Score">
    insert into score (stuId, CourseNumber, Score
      )
    values (#{stuid,jdbcType=INTEGER}, #{coursenumber,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.booy.ssm.exam.pojo.Score">
    insert into score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuid != null">
        stuId,
      </if>
      <if test="coursenumber != null">
        CourseNumber,
      </if>
      <if test="score != null">
        Score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuid != null">
        #{stuid,jdbcType=INTEGER},
      </if>
      <if test="coursenumber != null">
        #{coursenumber,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <insert id="insertScoreCourseNumber" parameterType="int">
    insert into score  (stuId, CourseNumber)
    values (#{stuid,jdbcType=INTEGER}, #{coursenumber,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.booy.ssm.exam.pojo.Score">
    update score
    <set>
      <if test="score != null">
        Score = #{score,jdbcType=INTEGER},
      </if>
    </set>
    where stuId = #{stuid,jdbcType=INTEGER}
      and CourseNumber = #{coursenumber,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.booy.ssm.exam.pojo.Score">
    update score
    set Score = #{score,jdbcType=INTEGER}
    where stuId = #{stuid,jdbcType=INTEGER}
      and CourseNumber = #{coursenumber,jdbcType=INTEGER}
  </update>
  <update id="updateScoreCourseNumber" parameterType="int">
    update score
    set CourseNumber = #{coursenumber,jdbcType=INTEGER}
    where stuId = #{stuid,jdbcType=INTEGER}
  </update>
</mapper>